UFC_DEFAULT_MODEL=accuracy_weighted_ensemble
UFC_POWER_PROFILE=max_power
SCRAPER_TIMEOUT_SECONDS=7200
PORT=8000
FLASK_HOST=0.0.0.0
FLASK_DEBUG=0
LOKY_MAX_CPU_COUNT=8
UFC_TRAIN_ON_BOOT=0
UFC_FORCE_RETRAIN_ON_BOOT=1
UFC_TRAIN_SIAMESE_ON_BOOT=1
